@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: 'VAG Rounded Next';
  font-style: normal;
  font-weight: 700;
  src: url('@/assets/fonts/VAGRoundedNext-Heavy.ttf') format('truetype');
}
